.todoAppFormTag{
    width: 100%;
}

.todoFormElements{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.formInput{
    height: 60px;
    width: 90%;
    padding-left: 17px;
    border-radius: 10px;
    border: 1px solid black;
}

.formInput:hover{
    border: 1px solid #2F80ED;
    cursor: pointer;
}

.formBtn{
    background-color: #2F80ED;
    color: white;
    height: 60px;
    padding: 20px 40px;
    border-radius: 10px;
    border: none
}
    

.formBtn:hover{
    border: 1px solid #2F80ED;
    color: #2F80ED;
    background-color: white;
    cursor: pointer;
}

.todoInputElement{
    width: 90%;
}


