.todoAppItem {
    display: flex;
    border-radius: 10px;
}

.todoAppItem:hover {
    background-color: #f5f9fe;
    cursor: pointer;
}

.leftTodoAppItemSection {
    flex: 5;
    padding: 10px;
    margin: 10px;
    display: block;
}

.rightTodoAppItemSection {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.todoAppItemDelete {
    /* font-size: 20px; */
    color: #bdbdbd;
    font-weight: bold;
}

.todoAppItemDelete:hover {
    color: #ff0000;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.todoText{
    font-weight: 500;
    font-size: 18px;
}