.todoContainer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    color: #333333;
}

.todoWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center; 
    width: 100%;
    max-width: 700px;
    overflow-y: scroll;
}

@media (max-width: 400px) {
    .todoContainer {
        width: 100vh; /* Set width to 100vh for screens less than 400px */
    }
}

.todoHeader{
    position: sticky;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Raleway';
}