.todoContainer {
    display: flex;
    justify-content: center !important;
    font-family: Arial, Helvetica, sans-serif;
}
.todoWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center; 
    max-width: 100%;
    overflow-y: scroll;
}

@media (max-width: 400px) {
    .todoContainer {
        width: 100vh; /* Set width to 100vh for screens less than 400px */
    }
}

.todoHeader{
    position: sticky;
    font-weight: 800;
    font-size: 60px;
}

.todoApp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todoAppHeadings{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid black;
    /* width: 100%; */
    justify-content: space-evenly;
}

.todoAppHeadingItem{
    padding: 20px;
    padding-bottom: 10px;
    font-size: large;
}

.todoAppHeadingItem:hover{
    border: 1px solid #2F80ED;
    border-radius: 5px;
    cursor: pointer;
}

.todoAppHeadingItemSelected{
    border-bottom: 3px solid #2F80ED !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    font-weight: 900;
}